# Example .dockerignore file
.git
.idea
.github
docs
Dockerfile
.dockerignore

# Adjust the directory name
app/vendor
app/node_modules
app/storage/app/public
app/storage/framework/cache/
app/storage/framework/sessions/
app/storage/framework/testing/
app/storage/framework/views/
app/storage/logs/
app/storage/database.sqlite
app/storage/debugbar
